{% extends 'base.html' %}
{% load create_tag %}
{% block content %}
    <h2>User List</h2>
    <table class="table">
        <thead>
            <td scope="col">ID</td>
            <td scope="col">username</td>
            <td scope="col">email</td>
            <td scope="col">join</td>
            <td scope="col">name</td>
        </thred>
        {% for u in user %}
            <tr scope="row" class={% cycle "table-success" "table-primary"%}>
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.email|email_ma:u.id }}</td>
                <td>{{ u.date_joined }}</td>
                <td>{{ u.user.username }}</td>
            </tr>    
        {% endfor %}
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if user.has_previous %}
                <li class="page-item"><a class="page-link" href="?p={{user.previous_page_number}}">이전으로</a>
            {% else %}
                <li class="page-item"><a class="page-link" href="#">이전으로</a><li>
            {% endif %}

            <li class="page-item"><a class="page-link" href="?p={{user.number|add:1}}">{{user.number}}/{{user.paginator.num_pages}}</a></li>

            {% if user.has_next %}
                <li class="page-item"><a class="page-link" href="?p={{user.next_page_number}}">다음으로</a><li>
            {% else %}
                <li class="page-item"><a class="page-link" href="#">다음으로</a><li>
            {% endif %}
        </ul>
    </nav>
{% endblock content %}