<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin user list</title>
</head>
<body>
    <h2>User List</h2>
    <table>
        <thead>
            <td>ID</td>
            <td>username</td>
            <td>email</td>
            <td>join</td>
            <td>name</td>
        </thred>
        {% for u in user %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.date_joined }}</td>
                <td>{{ u.user.username }}</td>
            </tr>    
        {% endfor %}
    </table>
    <nav>
        {% if user.has_previous %}
            <li><a href="?p={{user.previous_page_number}}">이전으로</a>
        {% else %}
            <li><a href="#">이전으로</a><li>
        {% endif %}

        <li><a href="?p={{user.number|add:1}}">{{user.number}}/{{user.paginator.num_pages}}</a></li>

        {% if user.has_next %}
            <li><a href="?p={{user.next_page_number}}">이전으로</a><li>
        {% else %}
            <li><a href="#">다음으로</a><li>
        {% endif %}
    </nav>
    <p>
        <a href="{% url 'index' %}">홈으로</a>
        <a href="{% url 'register' %}">회원가입</a>
    </p>
</body>
</html>